img {
  width: 100px;
}

h1,
h2,
h3,
a,
span {
  font-family: "Gilroy", Helvetica, Arial, sans-serif;
  text-decoration: none;
  font-synthesis: none;
  color: white;
}

h1 {
  font-size: 5.5rem;
  font-weight: 800;
  font-style: normal;
}

h2 {
  font-weight: 700;
}

h3 {
  font-weight: 600;
}

a {
  font-weight: 600;
  font-size: 1.15rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

p {
  font-family: "Gilroy", Helvetica, Arial, sans-serif;
  font-weight: 600;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.flex {
  display: flex;
  align-items: center;
}

.flex--h {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.flex--col {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.flex--v {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.flex--around {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.flex--spaced {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  width: 100%;
}

.dots {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  z-index: 100;
  padding: 1rem;
  right: 0%;
  align-self: center;
}
.dots .dots__icon {
  width: 10px;
  height: 10px;
  border-radius: 35%;
  background-color: #cbcbcb;
  margin: 0.5rem;
  transition: background-color 0.2s ease-in-out;
}
.dots .dots__icon:hover {
  background-color: var(--secondary-color);
}
@media screen and (min-width: 2000px) {
  .dots .dots__icon {
    width: 20px;
    height: 20px;
  }
}

.hidden {
  display: none;
}