.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  position: relative;
  position: relative;
}
.about h1 {
  font-weight: 800;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 42vw;
  height: 25rem;
  margin: 0 2vw 0 0;
  border-radius: 3vw;
}
@media (max-width: 767px) {
  .contact {
    margin-top: 2rem;
  }
}

.about__header {
  display: flex;
  justify-self: flex-start;
  align-self: flex-start;
}
.about__header img {
  width: 4.5vw;
  height: 4.5vw;
  margin: 1vw 1vw 1vw 0;
}

.about__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
}

.content {
  display: flex;
  flex-direction: row;
}

.contact__text {
  display: flex;
  flex-direction: column;
}
.contact__text h1 {
  font-size: 6vw;
}
.contact__text h3 {
  color: grey;
  margin-left: 0.5vw;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 42vw;
  height: 25rem;
  border-radius: 3vw;
}
@media (max-width: 767px) {
  .info {
    margin-top: 2rem;
  }
}