.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1024px) {
  .hero__left {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.bg {
  width: 100vw;
  height: auto;
  top: 0;
  z-index: -1;
}

.hero__container {
  position: absolute;
  width: 100vw;
  display: flex;
  align-items: center;
}

.hero__intro {
  line-height: 0.9;
}
.hero__intro span:nth-child(1) {
  background: var(--blue-gradient);
}
.hero__intro span:nth-child(2) {
  background: var(--pink-gradient);
}
.hero__intro span:nth-child(3) {
  background: var(--yellow-gradient);
}
.hero__intro span:nth-child(n+1):nth-child(-n+3) {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.hero__intro span:nth-child(n+1):nth-child(-n+2) {
  padding-right: 1vw;
}
@media (max-width: 1024px) {
  .hero__intro span:nth-child(n+1):nth-child(-n+2) {
    padding-right: 1.75vw;
  }
}
@media (max-width: 1024px) {
  .hero__intro {
    font-size: 9vw;
    margin-bottom: 0.5rem;
    text-align: center;
  }
}

.hero__desc {
  width: 34vw;
  line-height: 0.925;
}
@media (max-width: 1024px) {
  .hero__desc {
    text-align: center;
    width: 52vw;
    font-size: 4.5vw;
  }
}

.hero__right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero__logo {
  width: 11vw;
  height: 11vw;
  border-radius: 30%;
  border-style: solid;
  border-color: white;
  border-width: 0.25vw;
  box-shadow: var(--white-shadow);
  z-index: 1;
}

.hero__shelf {
  background-color: var(--navy-secondary);
  border-radius: 1rem;
  margin-left: 2vw;
}
@media (max-width: 1024px) {
  .hero__shelf {
    margin-left: 0;
    margin-top: 2rem;
  }
}

.hero__shelf--item {
  padding: 0.5rem;
  padding-bottom: 0.25rem;
  margin: 0.75rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 0.6rem;
}
.hero__shelf--item img {
  width: 1rem;
  height: 1rem;
}
@media (max-width: 1024px) {
  .hero__shelf--item {
    margin: 1rem 2rem 1rem 2rem;
  }
}
.hero__shelf--item:nth-child(1) {
  background: var(--blue-gradient);
}
.hero__shelf--item:nth-child(1):hover {
  box-shadow: var(--blue-shadow);
}
.hero__shelf--item:nth-child(2) {
  background: var(--pink-gradient);
}
.hero__shelf--item:nth-child(2):hover {
  box-shadow: var(--navy-shadow);
}
.hero__shelf--item:nth-child(3) {
  background: var(--yellow-gradient);
}
.hero__shelf--item:nth-child(3):hover {
  box-shadow: var(--gold-shadow);
}