.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-weight: 800;
  }
  position: relative;
}

.project__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 80vw;
  margin-top: 4rem;
  @media (max-width: 767px) {
    margin-top: 2rem;
  }
}

.project__header {
  display: flex;
  margin-bottom: 1rem;
  img {
    width: 4.2vw;
    height: auto;
    margin-right: 1rem;
  }
  @media (max-width: 767px) {
    margin-bottom: 0.75rem;
    h1 {
      font-size: 2.75rem;
    }
    img {
      width: 2.75rem;
      margin-right: 0.75rem;
    }
  }
}

.project__grid {
  display: grid;
  height: 80vw;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 2vw 2vw;
  grid-template-areas:
    "one one one two two"
    "one one one two two"
    "three three five five five"
    "four four five five five";
  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }
}

.project__title {
  position: absolute;
  z-index: 2;
  max-width: 18vw;
  @media (max-width: 767px) {
    display: flex;
    justify-content: center;
    font-size: 2rem;
  }
}
.project__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover .project__item--hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
  &:active .project__item--hover {
    background-color: rgba(0, 0, 0, 0.5);
  }

  img {
    z-index: 1;
    border-radius: 3.5vw;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.project__item:nth-child(1) {
  grid-area: one;
  &:hover {
    border: 4px;
    border-color: blue;
  }
  img {
  }
}
.project__item:nth-child(2) {
  grid-area: two;
}
.project__item:nth-child(3) {
  grid-area: three;
}
.project__item:nth-child(4) {
  grid-area: four;
}
.project__item:nth-child(5) {
  grid-area: five;
}

.project__item--hover {
  position: absolute;
  bottom: 0;
  right: 0;

  width: 100%;
  height: 100%;
  z-index: 2;

  border-radius: 3.5vw;
  background-color: transparent;
  transition: all 0.3s ease;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  div {
    width: 50px;
    height: 50px;

    border-radius: 1rem;
    margin: 1rem;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    position: relative;
    background: var(--navy-primary);
  }
  img {
    width: 20px;
    height: auto;
  }
}

.project__item--hover-link:hover {
  background: var(--yellow-gradient);
}

.project__item--hover-github:hover {
  background: var(--blue-gradient);
}
.project__item--hover-link:active {
  background: var(--yellow-gradient);
}

.project__item--hover-github:active {
  background: var(--blue-gradient);
}

.project__bg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.project__bg-text {
  font-size: 14vw;
  font-weight: 800;
  user-select: none;
  color: var(--navy-secondary);
  @media (max-width: 767px) {
    display: none;
  }
}
