:root {
  /*--<COLORS>--*/
  --navy-primary: #0b162c;
  --navy-secondary: #0f234d;
  --navy-secondary-blur: #0f234dc0;
  --dark-blue: #0971f0;
  --light-blue: #138ef0;
  --dark-gold: #f7991d;
  --light-gold: #fcc00a;
  --white-primary: #f8fbff;
  --white-secondary: #d9d9d9;

  /*--<SHADOWS>--*/
  --white-shadow: 0px 0px 15px #ffffff50;
  --blue-shadow: 0px 0px 15px #105fd660;
  --navy-shadow: 0px 0px 10px #233c719e;
  --gold-shadow: 0px 0px 15px #f7991d78;

  --blue-gradient: linear-gradient(67.93deg, #138ef0 23.56%, #0971f0 79.49%);
  --pink-gradient: linear-gradient(67.93deg, #e938c0 23.56%, #f15f79 79.49%);
  --yellow-gradient: linear-gradient(67.93deg, #fcc00a 23.56%, #f7991d 79.49%);
}

html {
  background-color: #0b162c;
}
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  scrollbar-width: 10px;
  scrollbar-color: --navy-secondary;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Regular.eot");
  src: url("fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/Gilroy-Regular.woff2") format("woff2"),
    url("fonts/Gilroy-Regular.woff") format("woff"),
    url("fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}
@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Medium.eot");
  src: url("fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"),
    url("fonts/Gilroy-Medium.woff2") format("woff2"),
    url("fonts/Gilroy-Medium.woff") format("woff"),
    url("fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-SemiBold.eot");
  src: url("fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("fonts/Gilroy-SemiBold.woff2") format("woff2"),
    url("fonts/Gilroy-SemiBold.woff") format("woff"),
    url("fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}
@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Bold.eot");
  src: url("fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/Gilroy-Bold.woff2") format("woff2"),
    url("fonts/Gilroy-Bold.woff") format("woff"),
    url("fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}
@font-face {
  font-family: "Gilroy";
  src: url("fonts/Jeko-Extra-Bold.ttf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: --navy-primary;
  background-size: cover;
  color: --white-primary;
}

h1,
h2,
h3 {
  font-family: "Gilroy", Helvetica, Arial, sans-serif;
  font-synthesis: none;
}
h1 {
  font-size: 5vw;
  font-weight: 900;
  font-style: normal;
}
h2 {
  font-size: 3vw;
  font-weight: 600;
  font-style: bold;
  letter-spacing: 0.1rem;
}
p {
  font-family: "Gilroy", Helvetica, Arial, sans-serif;
  font-weight: 600;
}
