// <NAVIGATION> //

.navbar {
  width: 94%;
  height: 4rem;
  position: fixed;
  margin-top: 1.6rem;
  margin-left: 3%;
  margin-right: 3%;

  border-radius: 1.2rem;
  z-index: 1000;

  @media screen and (min-width: 2400px) {
    height: 6rem;
    border-radius: 2rem;
  }
}

.navbar__logo {
  box-sizing: border-box;
  padding: 0.9rem;
  padding-right: 2.2rem;
  border-radius: 1.2rem;
  background: var(--navy-primary);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  font-size: 1.35rem;
  @media screen and (min-width: 2400px) {
    padding: 1.25rem;
    padding-right: 2.85rem;
    border-radius: 1.75rem;
    h3 {
      font-size: 2.5rem;
    }
  }
  img {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 0.8rem;
    margin-left: 1.2rem;
    margin-right: 0.8rem;
    box-shadow: var(--blue-shadow);
    @media screen and (min-width: 2400px) {
      width: 3.5rem;
      border-radius: 1.2rem;
      margin-left: 1.6rem;
      margin-right: 1.2rem;
    }
  }
}

.navbar__links {
  li {
    &:nth-child(odd) {
      a:hover .navbar__button-icon {
        background: var(--yellow-gradient);
      }
    }

    &:nth-child(even) {
      a:hover .navbar__button-icon {
        background: var(--pink-gradient);
      }
    }
  }
}
.navbar__button {
  padding: 0.5rem;
  font-weight: bold;
  a {
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: 2400px) {
    padding: 0.8rem;
  }
}

.navbar__button-icon {
  width: 16px;
  height: 16px;
  padding: 0.5rem;
  margin-right: 0.65rem;
  border-radius: 0.5rem;
  @media (max-width: 1024px) {
    margin-right: 4vw;
  }
  @media screen and (min-width: 2400px) {
    width: 24px;
    height: 24px;
    padding: 0.8rem;
    margin-right: 1.2rem;
    border-radius: 0.8rem;
  }
}

.navbar__button-label {
  margin-right: 1.5rem;
  font-weight: bold;
  @media screen and (min-width: 2400px) {
    font-size: 1.6rem;
  }
}

.navbar__contact {
  margin-right: 0.75rem;
  padding-right: 1rem;
  border-radius: 0.75rem;

  img {
    width: 16px;
    height: 16px;
    padding: 0.8rem;
  }

  &:hover {
    background: var(--blue-gradient);
    box-shadow: var(--blue-shadow);
    transition: all 1000ms ease;
  }

  @media screen and (min-width: 2400px) {
    margin-right: 1rem;
    padding-right: 1.5rem;
    border-radius: 1.3rem;

    h3 {
      font-size: 1.75rem;
    }
    img {
      width: 28px;
      height: 28px;
      padding: 1.2rem;
    }
  }
}
